* {
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
    font-family: Courier
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color:#555;
    margin:0;
}
h1{
    /*color:#555;*/
    font-size: 250%;
    text-align: center;
    margin-top: 10px;
    line-height:1.25;
}
h2{
    /*color:#555;*/
    font-weight: bold;
    line-height: 1.5;
}
h3{
    color: white;
    text-align: center;
    font-size:200%;
    line-height:1;
}

@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px){
        h3{
            font-size:30px;
        }
}
p{
    /*color:#555;*/
    font-size: 125%;
    line-height: 150%;
}
header{
    /*background:#80A0D6;*/
    width:100%;
    height:90px;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    opacity:0.75;
    margin: auto;
}

nav {
    text-align: center;
    padding: 25px 20px 20px 0;
}
ul{
    list-style:none;
}
nav ul li{
    text-align: center;
    display: inline-block;
    padding: 2%;

    padding-top:5px;
    padding-bottom: 5px;
    font-size: 125%;
}
h2 a{
    color: #818181;
    font-weight: bold;
    font-size: 110%;
}
a{
    color: #fff;
    text-decoration: none;
}
.smoothScroll {
  color: #fff !important;
  text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

strong{
    color:#818181;
}
footer{
    /*background:#405580;*/
    /*background:#3a7ac1;*/
    background: #5FB8BA;
    width:100%;
    height:75px;
    /*opacity: 0.80;*/
    top:0px;
    left:0;
    padding-top: 2%;
}
footer p{
    text-align:center;
    color: #f0f0f0;
}


.bg {
    /* The image used */
    /*background: linear-gradient(rgba(58,122,193, 1), rgba(58,122,193, 1)), url('ocean.jpg');*/
    background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.1)), url('unsealed_fb.png');
    /*background-image: url("../img/banh_mi_group_photo.jpg");*/

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.center{
    position: absolute;
    left:25%;
    width:50%;
    top:40%;
    margin-top:-33px;
    text-align:center;
    z-index:10;
    /*background:linear-gradient(rgba(58,122,193, 0.5), rgba(58,122,193, 0.5));*/
}
/*.center img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width:100%;
    opacity: 0.80;

    display: block;
    margin: auto;
}*/
.center h1{
    font-size: 500%;
    color: #f0f0f0;
    font-family: 'Courier New', sans-serif;*/
    letter-spacing: 5px;
}
.center h2{
    /*font-size:200%;*/
    color:#f0f0f0;
    font-family: 'Courier New', serif;
    text-align: center;
}

/*.vsa-logo{
    width:100px;
    height: auto;
    opacity: 0.90;
    padding-left: 2%;
}*/

.section-header{
    background:#ffff;
    width:100%;
    height:90px;
    position:relative;
    top:0;
    left:0;
    opacity:0.90;
}

.section-divider{
    margin:auto;
    width:70%;
    background:#b3b5b6;
    /*background: #e6b800;*/
    padding:1px;
    border-radius:1px;
    top:10%;
    opacity:0.70;

}

.general-container{
    padding: 1% 15%;
}

.next-event-container{
    padding: 1% 25%;
}
.next-event{
    display:block;
    margin:auto;
    width:100%;
    border-radius:5%;
}

.past-event{
    display:inline-block;
    width:51%;
    float:left;
    border-radius:2%;
    padding-right:2%;

}
.board-container{
    position: relative;
    width:30%;
    display: inline-block;
}

.board-photo{
    /*
    display:inline-block;
    width:100%;
    margin:auto;
    border-radius: 2%;
    padding-top:2%;
    padding-right:2%;*/
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.board-container:hover .board-photo{
  opacity: 0.7;
}

.board-container:hover .middle{
  opacity: 1;
}

.text {
  background-color: #7E2121;
  color: #ffc100;
  font-size: 16px;
  padding: 16px 32px;
}


.clearfix{
    overflow:auto;
}

#typetext {
  display: inline;
  float: none;
  position: relative;
  font-size: 30px;
  color: #f0f0f0;
  font-family: 'Lato', serif;
}
.typed-cursor{
  font-size: 30px;
  display: inline;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #f0f0f0;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #000d1a;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #000d1a;
    border: 4px solid #000d1a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.timeline-left {
    left: 0;
}

/* Place the container to the right */
.timeline-right {
    left: 50%;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -16px;
}

/* The actual content */
.timeline-content {
    padding: 20px 30px;
    background-color: rgb(0,13,26);
    position: relative;
    border-radius: 6px;
}

.boxed {
  border: 2px solid rgb(0,13,26);
  background-color: rgb(0,13,26);
  width: 50%;
  color: #fff;
  text-align: center;
  font-family: Courier;
}
@media only screen
    and (min-device-width:700px)
    and (max-device-width:800px){
        .center h1{
            font-size:200%;
        }
    }
@media only screen
    and (min-device-width: 300px)
    and (max-device-width: 667px){

        h3{
            font-size:24px;
        }

        .center h1 {
            font-size: 48px;
            left: 20%;
        }
        #typetext{
            font-size: 20px;
        }

        nav ul li{
            font-size:100%;
        }
        p{
            font-size:100%;
        }
        h2{
            font-size:18px;
            padding-left:0%;
        }

        .center h2{
            font-size: 24px;
        }
        iframe{
            height: 300px;
        }
        .section-divider{
            width: 90%;
        }
        .center{
            left: 15%;
            width: 70%;
            top:35%;
        }
        .general-container{
            padding: 1% 5%;
        }
        .next-event-container{
            padding: 1% 5%;
        }
        .board-container{
            width: 49%;
        }
        .past-event{
            display: block;
            width: 100%;
            padding-bottom: 5%;
            padding-right: 0%;
        }
        .vsa-logo{
            padding-top: 93px;
            padding-left:2px;
        }
        .text{
            font-size: 12px;
            padding: 12px 24px;
        }

        /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }


  /* Make sure all circles are at the same spot */
  .timeline-left::after, .timeline-right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .timeline-right {
    left: 0%;
  }

}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
